body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 95vh;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

.calculator {
    margin-top: 80px;
    background-color: rgb(34, 34, 34);
    border-radius: 15px;
    width: 430px;
    height: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information {
    display: flex;
    width: 100%;
    height: 60px;
    flex-direction: column;
    justify-content: center;
    color: aliceblue
}

.top-section {
    display: flex;
    justify-content: space-between;
}

.classwiz {
    align-self: center;
    color: rgb(143, 42, 42);
    font-size: 20px;
    margin-top: -10px;
}

.screen {
    width: 400px;
    height: 140px;
    background-color: rgb(108, 108, 108);
    border: 15px rgb(72, 72, 72) solid;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}

.user-input {
    font-size: 35px;
    padding: 10px;
    overflow: hidden;
}

.result {
    justify-items: end;
    align-self: end;
    font-size: 35px;
    padding: 5px 10px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}

.btn {
    width: 70px;
    height: 40px;
    background-color: aliceblue;
    margin: 10px 8px;
    border-radius: 5px;
    color: black;
    text-align: center;
    line-height: 40px;
    font-size: 28px;
    font-weight: 500;
}

.operator {
    font-size: 35px;
    line-height: 39px;
}

.blue {
    background-color: rgb(38, 38, 183);
    color: aliceblue;
}

footer {
    display: block;
    font-size: 20px;
    font-weight: 500;
    margin-top: auto;
}